@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');

p, a, li, div, h1, h2, h3{font-family: 'Montserrat', sans-serif;}

header{height:60px;}
header .col-sm-9 a{font-weight:600; text-transform:uppercase; color:#f7982b; display:inline-table; margin-top:20px; margin-right:20px;}
.btn{border:2px solid #fff; color:#fff; text-transform:uppercase;}

.btn-primary.focus, .btn-primary:focus{box-shadow:none !important;}

.content{padding-top:100px; padding-bottom:100px;}
.content h2{text-align:center; position:relative; font-weight:800; margin-bottom:60px;}
.content h2:after{content:"";position:absolute;left:0;right:0;margin:auto;bottom:-25px;width:70px;height:7px;  background-color:#f7982b;}

.banner{float:left; width:100%; background-image:url(../images/banner.jpg); background-size:cover; padding-top:25%; padding-bottom:10%;}
.banner h1{text-transform:uppercase; font-weight:700; color:#fff; position:relative; font-size:10vh;}
.banner h1:after{content:""; width:110px; height:10px; background-color:#f7982b; position:absolute; left:0px; bottom:-25px;}

.page-title{float:left; width:100%; background-image:url(../images/banner.jpg); background-size:cover; padding-top:15%; padding-bottom:5%;}
.page-title h1{text-transform:uppercase; font-weight:700; color:#fff; position:relative; font-size:10vh;}
.page-title h1:after{content:""; width:110px; height:10px; background-color:#f7982b; position:absolute; left:0px; bottom:-25px;}

.des{float:left; width:100%; background-color:#f7982b; padding-top:10px; padding-bottom:10px;}
.des p{color:#fff; margin-bottom:0px; font-size:12px;}
.des .btn{width:100%; font-weight:600; margin-top:10px;}
.des .btn:hover{background-color:#000; color:#fff;}

.coin{float:left; width:100%; padding-top:25px; padding-bottom:25px;}
.coin .item{padding:0px 10px; float:left; width:20%; padding:0px 2px;}
.coin .item img{width:100%;}
.coin .item .btn{padding:0px !important; background-color:transparent !important; border:none !important;}
.coin .item .btn:hover{border:none !important;}
.coin .item .col{position:absolute; width:100%; left:0px; right:0px; height:100%;}
.coin .item .col .card{position:absolute;left:0px;right:0px;top:-2px;z-index:1000; border-radius:0px; -webkit-border-radius:0px; width:100%; display:table; text-align:center;}
.coin .item .col .card .arrow-up {width: 0; height: 0; border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid black; position:absolute;top:-10px;}
.coin .item .col .card.bitcoin .arrow-up {border-bottom:10px solid #feaf00 !important;left:9%;}
.coin .item .col .card.eth .arrow-up {border-bottom:10px solid #141414 !important;left:29%;}
.coin .item .col .card.ripple .arrow-up {border-bottom:10px solid #0a88bf !important;left:50%;}
.coin .item .col .card.iota .arrow-up {border-bottom:10px solid #000000 !important;left:69%;}
.coin .item .col .card.litecoin .arrow-up {border-bottom:10px solid #3d3e3c !important;left:89%;}


.coin .item .col .card.bitcoin{background-color:#fff; border-color:#feaf00;}
.coin .item .col .card.eth {background-color:#fff; border-color:#141414;}
.coin .item .col .card.ripple{background-color:#fff; border-color:#0a88bf;}
.coin .item .col .card.iota{background-color:#fff; border-color:#000000;}
.coin .item .col .card.litecoin{background-color:#fff; border-color:#3d3e3c;}


.coin .item .col .card ul{padding-left:0px; width:40%; float:left; margin-bottom:0px; text-align:center; border-bottom:none;}
.coin .item .col .card ul li{list-style:none; float:left; width:100%; margin-bottom:10px;}
.coin .item .col .card ul li:last-child{margin-bottom:0px;}
.coin .item .col .card ul li a{padding:15px !important; color:#fff !important; text-transform:uppercase; font-size:14px; font-weight:600; border:2px solid #fff !important; background-color:none !Important; float:left; width:100%;}

.coin .item .col .card .body-wrap{float:left; width:50%;margin-left:10%; text-align:left; color:#000;}

.coin .item .col .card ul li a.active{background-color:#000 !important;position:relative;}
.coin .item .col .card ul li a.active:after{content:"";width: 0; height: 0; border-top:10px solid transparent;
border-bottom: 10px solid transparent; border-left:10px solid #000; position:absolute; right:-10px;}

.coin .item .col .card.bitcoin  ul li a {color:#fff; background-color:#feaf00;}
.coin .item .col .card.eth   ul li a {color:#fff; background-color:#141414;}
.coin .item .col .card.ripple  ul li a {color:#fff; background-color:#0a88bf;}
.coin .item .col .card.iota  ul li a {color:#fff; background-color:#000000;}
.coin .item .col .card.litecoin  ul li a {color:#fff; background-color:#3d3e3c;}

.how-it-works{background-color:#f4f4f4; padding-top:50px; padding-bottom:50px; float:left; width:100%;}
.how-it-works h2{text-align:center; position:relative; font-weight:800; margin-bottom:60px;}
.how-it-works h2:after{content:"";position:absolute;left:0;right:0;margin:auto;bottom:-25px;width:70px;height:7px;  background-color:#f7982b;}
.how-it-works .item{background-color:#f7982b; text-align:center; padding:25px; margin-bottom:15px; min-height:332px; border-radius:10px; -webkit-border-radius:10px;}
.how-it-works .item img{max-width:100%; margin-bottom:15px;}
.how-it-works .item h3{color:#fff; text-transform:uppercase; margin-bottom:25px; }
.how-it-works .item p{color:#fff;}
.how-it-works .item p span{font-size:24px; text-decoration:underline;}

.how-to-place{float:left; width:100%; background-image:url(../images/bottom-bg.jpg); background-size:cover; text-align:center; padding-bottom:100px;}
.how-to-place h2{text-align:center; width:100%; position:relative; font-weight:800; margin-bottom:60px; margin-top:50px;}
.how-to-place h2:after{content:"";position:absolute;left:0;right:0;margin:auto;bottom:-25px;width:70px;height:7px;  background-color:#f7982b;}
.how-to-place .num{width:50px; height:50px; display:table; margin:25px auto; color:#fff; font-weight:600; -webkit-border-radius:50px; border-radius:50px; background-color:#f7982b; line-height:50px;}
.how-to-place p{font-weight:600; font-size:12px; color:#000;}
.how-to-place .shape{background-image:url(../images/shape.png);background-repeat: no-repeat;background-position: center 39px;}

.footer{float:left; width:100%; background-color:#000; padding-top:10px; padding-bottom:10px;}
.footer p{color:#fff; margin-bottom:0px;}
.footer a{color:#fff; margin:0px 10px;}


@media only screen and (max-width:767px) {
	header{height:auto; text-align:center; margin-top:15px;}
	header img{margin:auto; width:80px;}
	header .col-sm-9{text-align:center !important; padding:20px 0px; display:inline;}
	header .col-sm-9 a{float:none; display:inline-block; margin:0px 15px;}
	.content{padding-top:50px; padding-bottom:50px;}
	.coin .item{width:48%; margin:10px 1%;}
	.coin .item .col .card .arrow-up{display:none;}
	.coin .item .col{height:auto;}
	.coin .item .col .card{padding:0px;word-wrap:break-word;display:block;}
	.coin .item .col .card ul{width:100%; display:inline;}
	.coin .item .col .card ul li{width:33%; display:inline-block;}
	.coin .item .col .card ul li a{font-size:10px; padding:10px !important;}
	.coin .item .col .card ul li a.active:after{right:0;left:0;bottom:-20px;margin:auto;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;  border-top:10px solid #000;}
	.coin .item .col .card .body-wrap{margin-left:0px; width:100%;word-wrap: break-word;}
	.coin .item .col .card .body-wrap p{word-wrap: break-word;}
	.how-to-place{padding-bottom:0px;}
	.how-to-place .shape{background-image:none;}
	.how-to-place .shape .col-sm-3 {background-color: rgba(0, 0, 0, 0.2);margin-bottom: 10px;padding: 30px;}
	.footer{text-align:center;}
	.footer div{margin-bottom:10px;}
	.footer .col-sm-6.text-right{text-align:center !important; margin-bottom:0px !important;}
}